@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Sans+Osmanya&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.main-cdst{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(60, 50, 110, 0.9), rgb(130, 100, 130), rgba(160, 110, 200, 0.65));
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px){
    .main-cdst{
        display: block;
        width: 100%;
        flex-direction: column;
        background-image: none;
    }
}

.left-cdst{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cdst h1{
    color: rgba(20, 10, 50);
}

.right-cdst{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cdst{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgba(80, 70, 130, 0.4);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgb(110, 70, 130 );
}

.card-cdst > h1{
    color: rgb(20, 10, 50);
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 100px;
    padding: 15px;
    background: rgba(20, 10, 50, 0.6);
    color: rgb(220, 190, 240);
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: rgb(20, 10, 50);
    margin-bottom: 5px;
}

.textfield > input::placeholder{
    color: rgb(140, 110, 150);
}


/*Botões*/
.btn-cdst button{
    width: 200px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(220, 190, 240);
    background: rgba(57, 16, 73, 0.2);
    cursor: pointer;
    position: relative;
    transition: 1.5s;
    justify-content: center;
    gap: 20px;
}
    
.btn-cdst button:hover{
    color: rgba(20, 10, 50, 0.45);
    border: black;
}
    
.btn-cdst button:before{
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 60px;
    z-index: -10;
    transition: 1s;
}
    
.btn-cdst button:hover:before{
    width: 100%;
}

.img{
    right: 19cm;
    width: 19cm;
}
